In [317]:
import pandas as pd
import numpy as np
from io import StringIO

## Load data

In [318]:
#Opening a CSV file and storing it on a numpy array
input_path = "/media/rivas/Data1/Data-mining/Kcap/"

y_s_taxonomy = input_path + "yagoSimpleTaxonomy.ttl"
y_s_type = input_path + "yagoSimpleTypes.ttl"
yago = input_path + "yago10.txt"

dataset = np.loadtxt(open(yago,'r', encoding="latin-1"), dtype="str", delimiter="\t")
taxonomy = pd.read_csv(y_s_taxonomy, delimiter='\t', header=None, skiprows=9)
#y_type= open(y_s_type,"a")
y_type = pd.read_csv(y_s_type, delimiter='\t', header=None, skiprows=9)


print(y_type.shape)
print(taxonomy.shape)
#print(len(dataset))
#print(dataset[1])

(24193408, 3)
(629688, 3)

In [321]:
prefix = """
@base <http://yago-knowledge.org/resource/> .\t\t
@prefix dbp: <http://dbpedia.org/ontology/> .\t\t
@prefix owl: <http://www.w3.org/2002/07/owl#> .\t\t
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\t\t
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .\t\t
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .\t\t
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\t\t
"""
str_io = StringIO(prefix)
frame_prefix = pd.read_csv(str_io, sep="\t", header=None)

In [322]:
frame_prefix.head()

                                                   0   1   2
0      @base <http://yago-knowledge.org/resource/> . NaN NaN
1      @prefix dbp: <http://dbpedia.org/ontology/> . NaN NaN
2    @prefix owl: <http://www.w3.org/2002/07/owl#> . NaN NaN
3  @prefix rdf: <http://www.w3.org/1999/02/22-rdf... NaN NaN
4  @prefix rdfs: <http://www.w3.org/2000/01/rdf-s... NaN NaN

In [323]:
frames = [frame_prefix, taxonomy, y_type]
dataset_semantic = pd.concat(frames)

In [327]:
export_csv = dataset_semantic.to_csv (input_path+'dataset_semantic.ttl', index = None, header=False, sep='\t')

In [302]:
length_tax = taxonomy.shape[0]
for index in range(length_tax):
    triplet = taxonomy.iloc[index]
    if len(triplet)<3:
        print(triplet)
    s_p_o = "\t".join(str(x) for x in triplet)
    y_type.write(s_p_o + "\n")
y_type.close

In [303]:
print(s_p_o)

<wikicat_Municipalities_in_Paraná>	rdfs:subClassOf	<yagoGeoEntity> .

In [304]:
y_type= open(y_s_type,"r")
len(y_type.readlines())

24823070

In [305]:
y= open("/home/rivas/Downloads/yagoSimpleTypes.ttl","r")
len(y.readlines())

24193417

In [310]:
taxonomy[1].value_counts()

rdfs:subClassOf     629645
owl:disjointWith        42
<hasGloss>               1
Name: 1, dtype: int64

In [312]:
input_path = "/media/rivas/Data1/Data-mining/Kcap/"
y_s_type = input_path + "yagoSimpleTypes (copy).ttl"
y_type= open(y_s_type,"r+")
length = len(y_type.readlines()) - 9
y_type.seek(0)
string = ""
for n in range(9):
    y_type.readline()
for n in range(length):
    string += y_type.readline() +"\n"

In [313]:
string.count('rdf:type')

24193409

In [314]:
"""import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO"""
from io import StringIO

str_io = StringIO(string)
xc = pd.read_csv(str_io, sep="\t", header=None)

In [316]:
xc.iloc[-1]

<yagoTheme_yagoSimpleTypes>                                                                                                                                                                                                                                                                                                                                                                                                                                    <wikicat_Football_venues_in_Suriname>
<hasGloss>                                                                                                                                                                                                                                                                                                                                                                                                                                                                           rdfs:subClassOf
This file is part of the ontology YAGO3. It is licensed under a Creative-Commons Attribution License by the YAGO team at the Max Planck Institute for Informatics/Germany. See http://yago-knowledge.org for all details. This file was generated on 2017-06-06 T 18:48:11.0135. A simplified rdf:type system. This theme contains all instances, and links them with rdf:type facts to the leaf level of WordNet (use with yagoSimpleTaxonomy) SIMPLETAX .                        <yagoGeoEntity> .
Name: 24823059, dtype: object

In [346]:
table_pred = y_type[1].value_counts()
table_obj = y_type[2].value_counts()
#table.to_frame()

In [347]:
export_csv = table_obj.to_csv (input_path+'obj_statistics_yagoType.csv', header=False, sep='\t')
export_csv = table_pred.to_csv (input_path+'pred_statistics_yagoType.csv', header=False, sep='\t')

In [348]:
table_subj = taxonomy[0].value_counts()
table_pred = taxonomy[1].value_counts()

In [349]:
export_csv = table_subj.to_csv (input_path+'subj_statistics_yagoTaxonomy.csv', header=False, sep='\t')
export_csv = table_pred.to_csv (input_path+'pred_statistics_yagoTaxonomy.csv', header=False, sep='\t')

In [350]:
yago_dataset = pd.read_csv(yago, delimiter='\t', header=None)

In [378]:
table_prop = yago_dataset[1].value_counts()
table_prop.to_csv (input_path+'properties_types_yagoDataset.csv', header=False, sep='\t')

In [373]:
#(yago_dataset[0] == 'Peter_Creamer').sum()
list_a = yago_dataset.index[yago_dataset[0] == 'Peter_Creamer'].tolist()
yago_dataset.iloc[list_a,:]

                     0               1                       2
10       Peter_Creamer       wasBornIn              Hartlepool
87750    Peter_Creamer        playsFor         Rochdale_A.F.C.
265674   Peter_Creamer        playsFor          Gateshead_F.C.
339359   Peter_Creamer        playsFor  Hartlepool_United_F.C.
347106   Peter_Creamer        playsFor          Dallas_Tornado
403581   Peter_Creamer  isAffiliatedTo   Doncaster_Rovers_F.C.
600288   Peter_Creamer  isAffiliatedTo          York_City_F.C.
601821   Peter_Creamer  isAffiliatedTo  Hartlepool_United_F.C.
722749   Peter_Creamer        playsFor   Doncaster_Rovers_F.C.
815872   Peter_Creamer  isAffiliatedTo         Rochdale_A.F.C.
881724   Peter_Creamer  isAffiliatedTo      Middlesbrough_F.C.
1022726  Peter_Creamer        playsFor          York_City_F.C.
1043983  Peter_Creamer        playsFor      Middlesbrough_F.C.
1054236  Peter_Creamer  isAffiliatedTo          Gateshead_F.C.
1088045  Peter_Creamer  isAffiliatedTo          Dallas_Tornado

In [375]:
#(y_type[0] == '<Peter_Creamer>').sum()
list_b = y_type.index[y_type[0] == '<Peter_Creamer>'].tolist()
y_type.iloc[list_b,:]

,0,1,2
5088687,<Peter_Creamer>,rdf:type,<wikicat_York_City_F.C._players> .
9429816,<Peter_Creamer>,rdf:type,<wikicat_Dallas_Tornado_players> .
9571953,<Peter_Creamer>,rdf:type,<wikicat_Doncaster_Rovers_F.C._players> .
13016567,<Peter_Creamer>,rdf:type,<wikicat_Living_people> .
18188884,<Peter_Creamer>,rdf:type,<wikicat_Hartlepool_United_F.C._players> .
19838370,<Peter_Creamer>,rdf:type,<wikicat_Middlesbrough_F.C._players> .
21820100,<Peter_Creamer>,rdf:type,<wikicat_Association_football_defenders> .
22269091,<Peter_Creamer>,rdf:type,<wikicat_North_American_Soccer_League_(1968–84...
22674164,<Peter_Creamer>,rdf:type,<wikicat_Rochdale_A.F.C._players> .
23224533,<Peter_Creamer>,rdf:type,<wikicat_English_footballers> .
23830929,<Peter_Creamer>,rdf:type,<wikicat_English_Football_League_players> .